# For Loops, Range and Code Blocks

### Loops

In [1]:
fruits = ["Apple", "Peace", "Pear"]
for fruit in fruits:
    print(fruit)

Apple
Peace
Pear

In [2]:
fruits = ["Apple", "Peace", "Pear"]
for fruit in fruits:
    print(fruit)
    print(fruit + " Pie")

Apple
Apple Pie
Peace
Peace Pie
Pear
Pear Pie

### Coding Exercise

In [7]:
student_heights = [156,178,165,171,187]


total_height = 0
for height in student_heights:
    total_height += height
print(f"total height = {total_height}")


number_of_student = 0
for number in student_heights:
    number_of_student += 1
print(f"number of students = {number_of_student}")


average_height = round(total_height / number_of_student)
print(f"average height = {average_height}")

total height = 857
number of students = 5
average height = 171

In [12]:
student_scores = [78,65,89,86,55,91,64,89]

highest_score = 0
for score in student_scores:
    if score > highest_score:
        highest_score = score
print(f"The highest score in the class is: {highest_score}")

The highest score in the class is: 91

### For loop and the range function

In [13]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [14]:
for number in range(1,11,3):
    print(number)

1
4
7
10

In [16]:
total = 0
for number in range(1,101):
    total += number 

print(total)

5050

In [19]:
target = int(input()) # Enter a number between 0 and 1000

sum_of_even_number = 0
for i in range(0,target +1,2):
    sum_of_even_number += i 
print(sum_of_even_number)

702

In [22]:
alternative_sum = 0
for number in range(1,target + 1):
    if number % 2 == 0:
        alternative_sum += number
print(alternative_sum)

702

## Coding Exercise: The FizzBuzz

In [23]:
for number in range(1,101):
    if (number % 3 == 0) and (number % 5 == 0):
        number = "FizzBuzz"
    elif number % 3 == 0:
        number = "Fizz"
    elif number % 5 == 0:
        number = "Buzz"
    
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz